# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
/media
/static

# Environment variables
.env
.env.*

# Django secrets
secrets.json

# MySQL
*.myd
*.myi
*.frm

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Virtual Environment
venv/
ENV/
env/
.venv/